@import "main.scss";


.articles_top {
  margin-bottom: 76px;
  display: flex;

  .left {}

  img {
    width: 642px;
  }
}

.articles_buttom {
  display: flex;

  aside {}

  .articles_old {
    margin-left: 109px;

    article {}
  }
}