
.act_banner {
  background-image: url(../../img/act/act_banner.jpg);
}

.act_wrapper{
  margin: 80px auto;
  width: 1200px;
}

.act_tab .tab ul{
  margin: 0 auto;
}

.act_main {
  margin-top: 70px;
}


.act_main article {
  display: flex;
  width: 788px;
  height: 280px;
  margin: 0 auto 50px;
  background-color: $light-milktea;
  border-radius: 10px;

  img {
    width: 278px;
  }

  .right {
    padding: 35px 30px 25px;
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: $bold;
      margin-bottom: 20px;
    }

    h4 {
      margin-bottom: 36px;
    }

    .coupon_container {
      margin-bottom: 25px;
      background-color: $white;
      border-radius: 10px;
      width: 218px;
      display: flex;
      

      input {
        background-color: $white;
        width: 148px;
        border: 0;
        outline: 0;
        padding-left: 20px;
      }

      .copy_button {
        text-align: center;
        font-size: $h4;
        color: $white;
        background-color: $brown;
        width: 70px;
        height: 40px;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        border: none;
      }
    }

    h3 {
      align-self: flex-end;
    }
  }
}

.-none{
  display: none;
}

// ------------------------ RWD ------------------------


@media screen and (max-width:430px){

  .act_main {
    margin-top: 26px;
  }
  
  .tab .tab_act_phone{
    border-top: 0px;
    border-bottom: 1px solid $grey;
    width: 360px;
    a{
      font-size: $h4;
      width: 85px;
    }
  }
  
  .act_main article {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 500px;
    margin: 0 auto 28px;
    background-color: $light-milktea;
    border-radius: 10px;
    .new{
      display: block;
      padding: 20px 30px 12px;
      font-size: $h3;
      font-weight: bold;
      color: $brown;
    }
    img {
      display: block;
      height: 200px;
      width: 250px;
      margin: 0 auto 16px;
    }
  
    .right {
      padding: 0px 30px;
      display: flex;
      flex-direction: column;
  
      h2 {
        display: none;
      }
  
      h4 {
        height: 100px;
        margin-bottom: 30px;
        line-height: 1.2;
      }
  
      .coupon_container {

        margin: 0 auto 20px;
        background-color: $white;
        border-radius: 10px;
        width: 218px;
        display: flex;
        
  
        input {
          background-color: $white;
          width: 148px;
          border: 0;
          outline: 0;
          padding-left: 20px;
        }
  
        .copy_button {
          text-align: center;
          font-size: $h4;
          color: $white;
          background-color: $brown;
          width: 70px;
          height: 40px;
          border-radius: 0 10px 10px 0;
          cursor: pointer;
        }
      }
  
      h3 {
        font-size: $p;
        align-self: center;
    
      }
    }
  }

}