.act_wrapper {
  margin: 80px auto;
  width: 1200px;
}

.act_tab .tab ul {
  margin: 0 auto;
}

.act_main {
  margin-top: 70px;
  line-height: 1.6;
}


.act_main article {
  display: flex;
  width: 788px;
  height: 300px;
  margin: 0 auto 50px;
  background-color: $light-milktea;
  border-radius: 10px;

  img {
    width: 278px;
  }

  .right {
    padding: 25px 30px 25px;
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: $bold;
      margin-bottom: 20px;
      color: $brown;
    }

    h4 {
      margin-bottom: 20px;
    }

    .coupon_container {
      margin-bottom: 25px;
      background-color: $white;
      border-radius: 10px;
      width: 218px;
      display: flex;


      input {
        background-color: $white;
        width: 148px;
        border: 0;
        outline: 0;
        padding-left: 20px;
      }

      .copy_button {
        text-align: center;
        font-size: $h4;
        color: $white;
        background-color: $brown;
        width: 70px;
        height: 40px;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        border: none;
      }
    }

    h3 {
      align-self: flex-end;
    }
  }
}

.-none {
  display: none;
}

li.tab_on {
  background-color: $dark-milktea;

  a {
    color: $white;

  }
}


.act_main2 {
  article {

    h3 {
      flex-grow: 1;
      margin-top: 45px;
    }
  }
}



// ------------------------ RWD ------------------------

// ------------------------ width: 1100px ------------------------

@media screen and (max-width:1100px) {

  .act_wrapper{
    width: auto;
  }

}


// ------------------------ width: 1000px ------------------------

@media screen and (max-width:1000px) {

  .tab ul.tab_act_phone{
    width: auto;
    margin: auto 40px;
  }

}


// ------------------------ width: 800px ------------------------

@media screen and (max-width:800px) {

  .act_main{
    margin-top: 40px;
  }

  .act_main article{
    width: auto;
    margin: auto 30px 20px;
  }

  .act_main article .right h2{
    font-size: $h3;
    margin-bottom: 10px;
  }

  .act_main article .right h4{
    font-size: $p;
    margin-bottom: 10px;
  }

  .act_main article .right h3{
    font-size: $h4;
  }

}

// ------------------------ width: 700px ------------------------


@media screen and (max-width:700px) {


  .act_main {
    margin-top: 26px;
  }

  .tab .tab_act_phone {
    border-top: 0px;
    border-bottom: 1px solid $grey;
    width: 360px;

    ul {

      li {
        margin-right: 10px;
      }
    }

    a {
      font-size: $h4;
      width: 85px;
    }
  }


  .act_main article {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 560px;
    margin: 0 auto 28px;
    background-color: $light-milktea;
    border-radius: 10px;

    .new {
      display: block;
      padding: 20px 30px 12px;
      font-size: $h3;
      font-weight: bold;
      color: $brown;
    }

    img {
      display: block;
      height: 250px;
      width: 250px;
      margin: 0 auto 16px;
      border-radius: 10px;
      background-size: contain;
    }

    .right {
      padding: 0px 30px;
      display: flex;
      flex-direction: column;

      h2 {
        display: none;
      }

      h4 {
        height: 100px;
        margin-bottom: 30px;
        line-height: 1.2;
      }

      .coupon_container {

        margin: 0 auto 20px;
        background-color: $white;
        border-radius: 10px;
        width: 218px;
        display: flex;


        input {
          background-color: $white;
          width: 148px;
          border: 0;
          outline: 0;
          padding-left: 20px;
        }

        .copy_button {
          text-align: center;
          font-size: $h4;
          color: $white;
          background-color: $brown;
          width: 70px;
          height: 40px;
          border-radius: 0 10px 10px 0;
          cursor: pointer;
        }

      }

      h3 {
        font-size: $p;
        align-self: center;

      }
    }
  }


  .act_tab .tab ul li {
    margin-right: 10px;

    &:nth-child(2) {
      margin-left: 10px;
    }
  }

}



// ------------------------ width: 430px ------------------------

@media screen and (max-width:430px) {

  .act_main {
    margin-top: 26px;
  }

  .tab ul.tab_act_phone{
    margin: auto 0px;
  }

  .tab .tab_act_phone {
    border-top: 0px;
    border-bottom: 1px solid $grey;
    width: 360px;

    ul {

      li {
        margin-right: 10px;
      }
    }

    a {
      font-size: $h4;
      width: 85px;
    }
  }


  .act_main article {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 560px;
    margin: 0 auto 28px;
    background-color: $light-milktea;
    border-radius: 10px;

    .new {
      display: block;
      padding: 20px 30px 12px;
      font-size: $h3;
      font-weight: bold;
      color: $brown;
    }

    img {
      display: block;
      height: 250px;
      width: 250px;
      margin: 0 auto 16px;
      border-radius: 10px;
      background-size: contain;
    }

    .right {
      padding: 0px 30px;
      display: flex;
      flex-direction: column;

      h2 {
        display: none;
      }

      h4 {
        height: 100px;
        margin-bottom: 30px;
        line-height: 1.2;
      }

      .coupon_container {

        margin: 0 auto 20px;
        background-color: $white;
        border-radius: 10px;
        width: 218px;
        display: flex;


        input {
          background-color: $white;
          width: 148px;
          border: 0;
          outline: 0;
          padding-left: 20px;
        }

        .copy_button {
          text-align: center;
          font-size: $h4;
          color: $white;
          background-color: $brown;
          width: 70px;
          height: 40px;
          border-radius: 0 10px 10px 0;
          cursor: pointer;
        }

      }

      h3 {
        font-size: $p;
        align-self: center;

      }
    }
  }


  .act_tab .tab ul li {
    margin-right: 10px;

    &:nth-child(2) {
      margin-left: 10px;
    }
  }

}


// ------------------------ width: 370px ------------------------

@media screen and (max-width:370px) {
  
  .act_main article{
    width: 350px;
  }

}