.articles_banner {
  background-image: url(../../img/articles/articles_banner.jpg);
}

.articles_top {
  margin-bottom: 76px;
  display: flex;

  .left {
    margin-right: 54px;
      .title {
        margin-bottom: 18px;
      }
      h2 {
        color: $brown;
        font-weight: bold;
        margin-bottom: 18px;
      }
      h3 {
        margin-bottom: 18px;
      }
      h4 {
        margin-bottom: 18px;
        line-height: 1.5;
        height: 140px;
        overflow: hidden;
      }
      a {
        display: block;
        color: black;
        background-color: $light-milktea;
        height: 40px;
        width: 504px;
        text-align: right;
        line-height: 40px;
        text-decoration: none;
        padding-right: 20px;
        border-radius: 8px;
        &:hover{
          color: white;
          background-color: $dark-milktea;
        }
      }
  }

  img {
    width: 642px;
    border-radius: 10px;
  }
}

.articles_buttom {
  display: flex;
  justify-content: space-between;

  aside {
    flex-basis: 189px;
    h2 {
      color: $brown;
      text-align: center;
      margin-bottom: 30px;
      font-weight: bold;
    }
    ul {
      list-style-type: disc;
      padding-left: 40px;
    }
    li {
      margin-bottom: 20px;
    }
    a {
      color: $grey;
      text-decoration: none;
      &:hover{
        color: $black;
        font-weight: bold;
      }
    }
  }

  .articles_all {
    display: block;
    padding-left: 109px;
    border-left: 2px black solid;
    .section_all {
      display: flex;
      margin-bottom: 65px;
        img {
          width: 425px;
          order: 1;
        }
        article {
          margin-left: 52px;
          width: 425px;
          order: 2;
            h2{
              margin-bottom: 32px;
              position: relative;
              color: $brown;
              font-weight: bold;
              &:before{
                position: absolute;
                content: "";
                background-color: $grey;
                width: 425px;
                height: 2px;
                top: 180%;
                left: 0;
              }
            }
            h3{
              margin-bottom: 16px;
            }
            p{
              height: 110px;
              overflow: hidden;
              line-height: 1.3;
              margin-bottom: 16px;
            }
            a{
              display: block;
              text-align: right;
              text-decoration: none;
              color: black;
              background-color: $light-milktea;
              width: 425px;
              height: 40px;
              line-height: 40px;
              padding-right: 20px;
              border-radius: 8px;
              &:hover{
                color: $white;
                background-color: $dark-milktea;
              }
            }
        }
      
    }
    .even {
      img {
        order: 2;
        margin-left: 52px;
      }
      article {
        order: 1;
        margin-left: 0;
      }
    }
    
  }
}

.articles_buttom .-off{
  display: none;
}

.-close{
  display: none;
}

.articles_buttom .color{
  color: black;
  font-weight: bold;
}


// ------------------------ RWD ------------------------


@media screen and (max-width:430px){

  .wrapper{
    width:380px;
  }

  .articles_top {
    margin-bottom: 22px;
    display: block;
  
    .left {
      margin-right: 0;
      margin-bottom: 12px;
        .title {
          margin-bottom: 12px;
        }
        h2 {
          font-size: $h3;
          color: $brown;
          font-weight: bold;
          margin-bottom: 6px;
        }
        h3 {
          font-size: $h4;
          margin-bottom: 10px;
        }
        h4 {
          font-size: $p;
          margin-bottom: 4px;
          height: 86px;
          overflow: hidden;
        }
        a {
          color: black;
          background-color: $white;
          text-align: right;
          text-decoration: none;
          padding-right: 20px;
          width: 377px;
        }
    }
  
    img {
      width: 377px;
      border-radius: 10px;
    }
  }  

  .articles_buttom {
      flex-direction: column;
        aside{
          flex-basis: 0;  
          h2 {
            display: none;
          }
          ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding-left: 0;
            margin-bottom: 40px;
          }
          li {
            margin-bottom: 20px;
            background-color: $light-milktea;
            padding: 20px 10px;
            border-radius: 10px;
            &:hover{
              background-color: $dark-milktea;
            }
          }
          a {
            font-size: $p;
            color: $black;
            text-decoration: none;
            &:hover{
              color: $white;
              font-weight: bold;
            }
          }
        }

        .articles_all {
          display: block;
          padding-left: 0px;
          border-left: 0px;
          .section_all {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
              img {
                width: 280px;
                order: 2;
                margin: 0 auto;
              }
              article {
                margin-left: 0px;
                width: 380px;
                order: 1;
                  h2{
                    font-size: $h3;
                    margin-bottom: 32px;
                    position: relative;
                    color: $brown;
                    font-weight: bold;
                    &:before{
                      position: absolute;
                      content: "";
                      background-color: $grey;
                      width: 380px;
                      height: 2px;
                      top: 180%;
                      left: 0;
                    }
                  }
                  h3{
                    margin-bottom: 16px;
                  }
                  p{
                    height: 110px;
                    overflow: hidden;
                    line-height: 1.3;
                    margin-bottom: 10px;
                  }
                  a{
                    display: block;
                    text-align: right;
                    text-decoration: none;
                    color: black;
                    background-color: $white;
                    width: 380px;
                    height: 40px;
                    line-height: 40px;
                    padding-right: 20px;
                    margin-bottom: 10px;
                    border-radius: 8px;
                  }
              } 
          }   
        }
  }
  .articles_buttom .color{
    font-weight: normal;
  }
  .articles_buttom .-off{
    display: none;
  }
  
  .-close{
    display: none;
  }
}

  
