.contact_wrapper {

  section {
    @include m() {
      margin-bottom: 0;
    }
  }

  .cs_info {

    .title {
      margin-left: 19%;

      @include m() {
        margin-left: 0;
        margin-bottom: 28px;
      }
    }

    .contact_top {
      display: flex;
      justify-content: center;

      @include m() {
        flex-direction: column;
      }

      ul {
        margin: 0 80px;

        @include m() {
          margin: 0;
          margin-left: 32px;
        }

        p {
          line-height: 1.6;
        }

        li {
          display: flex;
          align-items: center;
          margin-bottom: 48px;
          max-width: 300px;

          img {
            width: 55px;
            margin-right: 20px;
          }
        }
      }
    }
  }

  .contact_form {
    background-color: $light-milktea;
    border-radius: 10px;

    @include m() {
      background-color: transparent;

    }

    .title {
      margin-left: 19%;
      padding-top: 44px;

      @include m() {
        margin-left: 0;
        padding-top: 20px;
        margin-bottom: 20px;
      }
    }

    p {
      width: 460px;
      text-align: left;
      margin-left: 31%;

      @include m() {
        width: 380px;
        margin-left: 0;

      }
    }

    form {
      text-align: center;
      margin-top: 28px;
      padding-bottom: 88px;
      position: relative;

      @include m() {
        background-color: $light-milktea;
        border-radius: 10px;
        text-align: left;
        padding-top: 4px;
        font-size: $h4;
      }

      input {
        background-color: $white;
        width: 360px;
        margin-left: 28px;

        @include m() {
          width: 320px;
        }
      }

      input#name {
        margin-left: 23px;

        @include m() {
          margin-left: 31px;

        }
      }

      textarea {
        border: none;
        border-radius: 8px;
        width: 360px;
        height: 250px;
        margin-left: 28px;
        padding: 10px;
        font-size: $p;
        line-height: 1.6;

        &:focus {
          outline: 2px solid $brown;
        }

        @include m() {
          width: 320px;
          margin-left: 31px;

        }
      }

      .message {
        vertical-align: top;
      }

      .contact_input {
        margin: 32px auto;

        @include m() {
          label {
            margin-bottom: 14px;
            margin-left: 31px;
          }
        }
      }

      .btn {
        padding: 8px 36px;
        font-size: $h4;
        position: absolute;
        left: 49.5%;

        @include m() {
          left: 36%;
          margin-top: 8px;
        }
      }
    }
  }

}