.forget_pwd {
    box-sizing: border-box;
    width: 500px;
    margin: 0 auto;
    padding: 60px 100px;

    .title {
        margin-bottom: 30px;
    }
}

.forget_form {
    label {
        position: relative;

        #rePwdNew+img,
        #rePwdConfirm+img {
            padding: 10px;
            position: absolute;
            width: 45px;
            right: 0%;
            top: 40%;
            cursor: pointer;
        }
    }



    label {
        font-size: $h2;
    }

    h4+div>h2:first-child {
        width: fit-content;
        padding: 10px 20px;
        border: 3px solid $warning ;
        // background-color: $medium-milktea;
        // opacity: 0;
        border-radius: 10px;
        color: $warning;
        margin: 0 auto;
        // text-align: center;
        margin-top: 30px;
    }

    h4+div>h2:nth-child(2) {
        text-align: center;
        margin-top: 50px;
    }

    h4+div>p:nth-child(2) {
        text-align: center;
        margin-top: 20px;
    }

    label div {
        display: flex;
        margin-bottom: 10px;
        margin-top: 15px;

        input {
            flex-grow: 1;
            margin-right: 15px;
        }

        button {
            box-sizing: border-box;
            width: 100px;
            height: 40px;
            line-height: 20px;
        }
    }


    label>input,
    >div label input {
        margin-top: 30px;
        width: 300px;
    }

    >div input {
        width: 150px;
        margin: 30px auto 0;
        height: 50px;
    }
}


@media screen and (max-width:430px) {
    .forget_pwd {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .forget_form {
        margin: 0 auto;

        label {
            font-size: $h3;
        }

        h4 {
            font-size: $p;
        }

        .btn {
            font-size: $h4;
        }

        div,
        label>input {
            width: 320px;
        }

        button.btn {
            width: 80px;
        }

        input.btn {
            width: 120px;
            height: 40px;
            line-height: 20px;
        }
    }
}