.gameR_contect {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 120px;

    @media screen and (max-width: 750px) {
        margin: 0 25px;
        margin-top: 110px;

    }

    @include m() {
        background-color: rgba(255, 255, 255, 0.37);
        height: 1030px;
        margin-top: 50px;
    }

    .gameR_text {
        padding-top: 56px;
        max-width: 600px;
        margin: 0 auto;
        position: relative;

        @media screen and (max-width: 750px) {
            margin: 0 28px;
            padding-top: 32px;
        }

        @include m() {
            margin: 0 16px;
            max-width: 330px;
            padding-top: 30px;
        }

        h3 {
            margin: 16px 0;
        }

        .animal {
            max-width: 360px;
            max-height: 300px;
            margin: 0 auto;

            @media screen and (max-width: 470px) {
                max-width: 280px;
                max-height: 220px;
            }

        }

        h2 {
            margin: 16px 0;
            color: $brown;
            font-weight: bold;
            text-align: center;
        }

        p {
            line-height: 1.6;
            text-align: justify;
        }

        .btn_p {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 8px;
            background-color: $brown;
            color: $white;
            margin-top: 24px;
            margin-bottom: 12px;
        }

        .gameR_recomm {
            display: flex;
            margin-top: 8px;
            padding-bottom: 80px;

            a {
                margin-right: 32px;

                img {
                    width: 80px;
                    border-radius: 50%;
                    transition: transform .4s ease;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
        }

        .gameR_share {
            display: flex;
            justify-content: end;
            position: absolute;
            bottom: 30px;
            right: 0;

            @include m() {
                bottom: 20px;
            }

            .btn {
                font-size: $p;
                padding: 5px 10px;
                margin-left: 16px;
                background-color: $brown;

                a {
                    color: $white;
                }

                &:hover {
                    background-color: $dark-milktea;
                    color: $white;
                }

                @include m() {
                    padding: 6px 0;
                    width: 90px;
                }
            }
        }

    }

}