.gameQ_contect {
    background-image: url(@/img/game/gameQ_bgi.jpg);
    background-size: cover;
    height: 700px;
    width: 1050px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 20px;

    @include m() {
        background-image: url(@/img/game/gameQ_bgi_m.jpg);
        height: 700px;
        margin-top: 90px;

    }

    .gameQ_text {
        padding-top: 140px;

        @include m() {
            padding-top: 115px;
        }

        h2 {
            text-align: center;
            margin-bottom: 90px;

            @include m() {
                margin: 0 auto;
                margin-bottom: 80px;
                font-size: $h3;
                width: 220px;
                text-align: left;
            }
        }

        h4 {
            text-align: center;
            margin: 28px auto;
            background-color: $white;
            width: 400px;
            line-height: 60px;
            border-radius: 8px;
            cursor: pointer;

            @include m() {
                width: 300px;
                margin: 32px auto;

            }
        }

        .btn {
            margin: 0 auto;
            margin-top: 32px;
            padding: 16px 66px;

            a {
                color: $white;
            }

            &:hover {
                color: $white;
            }


            @include m() {
                margin-top: 40px;
                padding: 12px 0;
                width: 180px;
            }
        }
    }

}