.gameQ_contect {
    background-image: url(../img/game/gameQ_bgi.jpg);
    background-size: cover;
    height: 866px;
    margin-top: 120px;
    border-radius: 20px;

    @include m() {
        background-image: url(../img/game/gameQ_bgi_m.jpg);
        height: 700px;
    }

    .gameQ_text {
        padding-top: 160px;

        @include m() {
            padding-top: 115px;
        }

        h2 {
            text-align: center;
            margin-bottom: 120px;

            @include m() {
                margin: 0 auto;
                margin-bottom: 80px;
                font-size: $h3;
                width: 220px;
                text-align: left;
            }
        }

        h4 {
            text-align: center;
            margin: 40px auto;
            background-color: $white;
            width: 400px;
            line-height: 60px;
            border-radius: 8px;
            cursor: pointer;

            @include m() {
                width: 300px;
                margin: 32px auto;

            }
        }

        .btn {
            margin: 0 auto;
            margin-top: 48px;
            padding: 16px 66px;

            @include m() {
                margin-top: 40px;
                padding: 8px 40px;
            }
        }
    }

}