.gameR_contect {
    background-image: url(../img/game/gameR_bgi.jpg);
    background-size: cover;
    height: 866px;
    margin-top: 120px;
    border-radius: 20px;

    @include m() {
        background-image: url(../img/game/gameR_bgi_m.png);
        height: 960px;
    }

    .gameR_text {
        padding-top: 56px;
        max-width: 600px;
        margin: 0 auto;
        position: relative;

        @include m() {
            max-width: 330px;
            padding-top: 64px;
        }

        h3 {
            margin-bottom: 16px;
        }

        img {
            width: 360px;
            margin: 0 auto;

            @include m() {
                width: 280px;
            }

        }

        h2 {
            margin: 16px 0;
            color: $brown;
            font-weight: bold;
            text-align: center;
        }

        p {
            line-height: 1.6;
            text-align: justify;
        }

        .btn_p {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 8px;
            background-color: $brown;
            color: $white;
            margin-top: 24px;
            margin-bottom: 12px;
        }

        .gameR_recomm {
            display: flex;
            margin-top: 8px;

            a {
                margin-right: 32px;

                img {
                    width: 80px;
                    border-radius: 50%;
                    transition: transform .4s ease;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
        }

        .gameR_share {
            display: flex;
            justify-content: end;
            position: absolute;
            bottom: 0;
            right: 0;

            @include m() {
                bottom: -60px;
            }

            .btn {
                font-size: $p;
                padding: 5px 10px;
                margin-left: 16px;
                background-color: $brown;

                &:hover {
                    background-color: $dark-milktea;
                }
            }
        }

    }

}