a {
    text-decoration: none;
}

section {
    @include index_r() {
        max-width: 490px;
    }
}

.index_header {
    height: 100vh;
    background-image: url(@/img/index/index_banner.jpg);

    @media screen and (max-width: 1250px) {
        height: 600px;
    }

    @media screen and (max-width: 840px) {
        height: 400px;
    }

    @include index_r() {
        height: 260px;
    }

    .header_center {
        position: absolute;
        left: 45%;
        top: 40%;

        img {
            width: 100px;
            margin-bottom: 40px;

            @media screen and (max-width: 840px) {
                width: 60px;
                margin-bottom: 16px;
            }
        }

        h4 {
            text-align: center;
            margin-top: 16px;
            letter-spacing: 1px;
            color: $white;
            animation: blink 3s infinite;
            cursor: pointer;

            @media screen and (max-width: 840px) {
                font-size: 12px;
            }

            @include index_r() {
                display: none;

            }
        }

        @keyframes blink {
            0% {
                text-shadow: 0 0 4px $black;
            }

            50% {
                text-shadow: 0 0 8px $brown;
            }

            100% {
                text-shadow: 0 0 4px $black;
            }
        }

    }
}

.fixed>section {
    margin-bottom: 72px;

    @include index_r() {
        margin-bottom: 40px;
    }
}

.index_first {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: $dark-milktea;
    max-width: 700px;
    padding: 40px;
    margin-bottom: 64px;
    transition: background-color .6s ease;
    cursor: pointer;

    @media screen and (max-width: 710px) {
        margin: 0 28px;
        margin-bottom: 28px;

    }

    @include index_r() {
        margin: 0 auto;
        max-width: 290px;
        padding: 28px;
        margin-bottom: 24px;
    }

    &:hover {
        background-color: $brown;
    }

    h2 {
        text-align: center;
        color: $white;
        line-height: 1.6;

        @include index_r() {
            font-size: $h4;
            width: 250px;
            text-align: left;
            margin: 0 auto;
        }
    }
}

.index_rolling {
    padding: 50px 0;
    width: 100%;

    @media screen and (max-width: 1250px) {
        padding: 20px 0;
        display: none;
    }

    .view {
        overflow: hidden;
        width: 100%;
    }

    .pic-container {
        display: flex;
        animation: marquee 20s infinite linear;

        .pic {
            flex-basis: 20%;
            flex-shrink: 0;
        }
    }

    img {
        width: 100%;
        vertical-align: middle;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-(20% * 5));
    }
}

.index_intr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include index_r() {
        display: block;
        margin-bottom: 80px;
    }

    .index_intr_left {
        position: relative;
        margin-right: 60px;
        width: 370px;

        @media screen and (max-width: 1250px) {
            margin-right: 0px;
        }

        @media screen and (max-width: 901px) {
            margin-bottom: 24px;
        }

        @include index_r() {
            width: 300px;
            margin: 0 auto;
            margin-bottom: 24px;
        }

        img {
            width: 178px;

            @include index_r() {
                width: 100px;
            }
        }

        h2 {
            position: absolute;
            top: 70px;
            left: 25%;

            @include index_r() {
                top: 32px;
                left: 20%;
            }
        }
    }

    .index_intr_right {
        margin-left: 60px;

        @media screen and (max-width: 1250px) {
            margin-left: 12px;
        }

        @include index_r() {
            margin: 20px auto;
        }

        h3 {
            max-width: 520px;
            line-height: 1.6;
            margin-bottom: 16px;

            @include index_r() {
                max-width: 330px;
                margin: 16px auto;
            }
        }

        .index_intr_right_btn {
            display: flex;
            justify-content: center;

            @include index_r() {
                margin-top: 24px;
            }

            .btn {
                margin: 0 40px;

                &:hover {
                    color: $white;
                }

                @include index_r() {
                    margin: 0 16px;

                }

                a {
                    color: $white;
                }
            }
        }
    }
}

.index_feature {

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            margin: 0 40px;
            flex-grow: 1;

            @media screen and (max-width: 1050px) {
                margin: 0 90px;
                margin-bottom: 56px;

            }

            @media screen and (max-width: 720px) {
                margin: 0 40px;
                margin-bottom: 44px;
            }

            @media screen and (max-width: 520px) {
                margin: 0 10px;
                margin-bottom: 44px;
            }

            h2 {
                text-align: center;
                margin-bottom: 12px;
                color: $brown;
                font-weight: bold;
            }

            h2::before {
                content: '';
                display: inline-block;
                width: 35px;
                height: 35px;
                background-image: url(@/img/index/index_heart.svg);
                background-repeat: no-repeat;
                margin-right: -20px;
                vertical-align: text-bottom;
            }

            img {
                width: 180px;
                margin: 0 auto;

                @include index_r() {
                    width: 160px;
                }
            }

            h4 {
                text-align: center;
                margin: 12px 0;
            }

            .index_feature_p {
                margin: 0 auto;
                width: 130px;

                p::before {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-image: url(@/img/index/index_check.svg);
                    background-repeat: no-repeat;
                    margin-right: 4px;
                    vertical-align: middle;
                }

                p {
                    line-height: 1.6;
                }
            }
        }
    }
}

.index_process {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            margin: 0 40px;
            flex-grow: 1;

            @media screen and (max-width: 1050px) {
                margin: 0 90px;
                margin-bottom: 56px;

            }

            @media screen and (max-width: 720px) {
                margin: 0 40px;
                margin-bottom: 44px;
            }

            @media screen and (max-width: 520px) {
                margin: 0 10px;
                margin-bottom: 44px;
            }


            h3 {
                text-align: center;
                margin-bottom: 12px;
                color: $brown;
                font-weight: bold;
            }

            .index_process_2h3 {
                color: $black;
                font-weight: normal;
            }

            img {
                width: 180px;
                margin: 0 auto;

                @include index_r() {
                    width: 160px;
                }
            }

            h4 {
                text-align: center;
                margin-top: 8px;
            }

        }
    }
}

.index_qa {
    ul {
        li {
            padding-left: 54px;
            border-radius: 10px;
            cursor: pointer;

            @include index_r() {
                padding-left: 8px;
                border-radius: 0px;
            }

            &:hover {
                background-color: $light-milktea;
            }

            h2 {
                line-height: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include index_r() {
                    font-size: $h4;
                    margin-right: 10px;
                }
            }

            h2::after {
                content: '';
                display: block;
                width: 40px;
                height: 40px;
                background-image: url(@/img/index/index_down.svg);
                margin-right: 54px;

                @include index_r() {
                    margin-right: 12px;
                }
            }

            .qh2::after {
                background-image: url(@/img/index/index_up.svg);
            }

            p {
                padding-bottom: 50px;
                padding-right: 8px;
                line-height: 1.6;
            }
        }

        .hidden_content {
            display: none;
        }

        .hidden {
            display: block;
        }

        .moved {
            background-color: $light-milktea;

        }
    }
}



.index_game {
    height: 300px;
    background-image: url(@/img/index/index_game.jpg);
    background-size: cover;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;

    @media screen and (max-width: 1230px) {
        width: 900px;
        height: 260px;
    }

    @media screen and (max-width: 920px) {
        width: 600px;
        height: 220px;
    }

    @media screen and (max-width: 620px) {
        height: 200px;
        width: 370px;
    }

    @media screen and (max-width: 390px) {
        height: 160px;
        width: 320px;
    }

    .index_game_content {

        h1 {
            text-align: center;
            margin-bottom: 32px;
            padding-top: 90px;
            animation: sparkle 2.5s infinite;

            @media screen and (max-width: 920px) {
                font-size: $h2;
                padding-top: 70px;
            }

            @media screen and (max-width: 390px) {
                font-size: $h3;
                padding-top: 52px;
                margin-bottom: 20px;

            }
        }

        .btn {
            margin: 0 auto;
            font-size: $h2;
            padding: 10px 20px;

            &:hover {
                color: $white;
            }

            @media screen and (max-width: 920px) {
                font-size: $h4;
            }

            @media screen and (max-width: 390px) {
                font-size: $p;
                padding: 8px 16px;

            }

            a {
                color: $white;
            }
        }
    }


}