.wrapper.member {
    display: flex;
    //解決RWD溢出問題
    width: 100vw;
}

// 更新成功小框
#editSuccessMsg {
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    line-height: 40px;
    height: 60px;
    color: $black;
    background-color: $light-milktea;
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: -20%;
    left: 20%;
    // right: auto;
    transition: opacity .5s;

    h3 {
        margin: 0 auto;
    }
}

@media screen and (max-width:900px) {
    #editSuccessMsg {
        font-size: $p;
    }

}

// -----------------萬年不動側邊欄------------------
.member_sidebar {
    flex-basis: 250px;
    margin-left: 40px;
    flex-shrink: 0;

    div {
        display: flex;
        margin-bottom: 40px;

        >img {
            margin: 0;
            // background-image: url(@/img/member/member_icon_profileMini.png);
            // background-repeat: no-repeat;
            // background-size: cover;
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }

        input {
            display: none;
        }

        h2 {
            align-self: center;
            margin-left: 16px;
        }
    }

    @for $i from 1 through 4 {
        li:nth-child(#{$i}) a::before {
            content: '';
            width: 30px;
            height: 30px;
            position: absolute;
            left: -30px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('@/img/member/member_icon_sidebar#{$i}.png');
        }
    }

    li {
        border-radius: 8px;
        margin-bottom: 20px;
        width: fit-content;
        padding: 10px 10px 10px 0;

        a {
            text-decoration: none;
            color: $black;
            margin-left: 40px;
            padding-left: 10px;
            position: relative;
            font-size: $h2;
            display: inline-block;
            line-height: 30px;
        }

        &:hover {
            background-color: $light-milktea;
        }
    }


}

// 個人資料分頁(預設)
section.userData {
    margin-left: 60px;
    width: 800px;
}

input.needToFill {
    outline: 2px solid $brown;
}

.userData {
    position: relative;

    svg {
        font-size: 25px;
        color: $dark-milktea;
        margin-left: 10px;
        align-self: center;
    }

    h2 {
        width: 150px;
        line-height: 40px;
    }

    input {
        width: 250px;
    }

    div:first-child {
        margin-left: 150px;
        margin-bottom: 45px;
        display: flex;

        ~div {
            display: flex;
            margin-bottom: 30px;

            div {
                margin-bottom: 0;
                display: flex;
            }
        }

        >img {
            margin-left: 0;
            margin-bottom: 0;
            // background-image: url(@/img/member/member_icon_profile.png);
            // background-repeat: no-repeat;
            // background-size: cover;
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        input,
        button {
            display: none;
        }

        svg {
            align-self: flex-end;
        }

    }

    @for $i from 2 through 6 {
        div:nth-child(#{$i}) {

            input {
                // background-color: transparent;
                // border-radius: 8px;
                // border-bottom: 1px solid $grey;

                // &:focus {
                //     background-color: $light-milktea;
                // }
            }
        }
    }


    .sAddress {
        input {
            width: 200px;
        }

        select {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;

            background: url(@/img/member/selectArrow.svg) no-repeat right center;
            background-position-x: 90%;
            width: 90px;
            padding: 10px;
            border: 0;
            border-radius: 8px;
            background-color: $light-milktea ;
            font-size: $h4;
            margin-right: 15px;

            &:focus {
                outline: 2px solid $brown;
            }
        }
    }

    .mAddress {
        input {
            width: 400px;
        }
    }


}

// 訂單分頁共通
.tab ul {
    width: 900px;
    margin-bottom: 45px;
}

.sOrder_data,
.mOrder_data {
    border: 1px solid $grey;
    border-radius: 10px;
    padding: 30px 50px;

    @for $i from 2 through 8 {
        >div:nth-child(#{$i}) {
            margin-top: 40px;
        }
    }

    @for $i from 1 through 6 {
        >div:nth-child(#{$i}) {
            display: flex;

            h2 {
                line-height: 30px;
                width: 80px;
            }

            input {
                height: 30px;
                margin-left: 70px;
                width: 200px;
                // background-color: transparent;
                // border-radius: 0;
                // border-bottom: 1px solid $grey;
            }
        }
    }

    >div:nth-child(6) {
        input {
            width: 300px;
        }
    }

    >div:nth-child(7) {
        display: flex;
        flex-direction: column;

        >h2:first-child {
            padding-bottom: 10px;
            border-bottom: 2px solid $dark-milktea;
        }
    }

    >div:last-child {
        display: flex;
        justify-content: space-between;

        button {
            font-size: $h3;
            width: 120px;
            height: 40px;
            line-height: 20px;
            margin: 0;
        }

        p {
            line-height: 40px;
            margin-left: 40px;
            margin-right: auto;
        }

        div {
            display: flex;
            line-height: 40px;

            h2:last-child {
                margin-left: 60px;
            }
        }
    }

    article {
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;
        border-bottom: 3px dashed $black;

        img {
            width: 120px;
            margin-right: 40px;
            margin-bottom: 20px;
        }
    }
}

// 服務訂單分頁
.sOrder_data {
    // display: flex;
    // flex-direction: column;
    margin-bottom: 40px;

    >div:nth-child(7)>div {
        display: flex;
        margin-top: 25px;

        h2 {
            margin-right: 20px;
        }

        h2:first-child {
            align-self: center;
        }

        h2:nth-child(2),
        h2:last-child {
            background-color: $light-milktea;
            border-radius: 8px;
            width: fit-content;
            padding: 5px 10px;
        }
    }

    article {

        >div {
            width: 100%;
            display: flex;
            justify-content: space-between;

            >h2 {
                margin-bottom: 20px;
            }

            >h2:last-child {
                text-align: right;
            }
        }

        h2 {
            line-height: 1.6;
            align-self: center;

        }




    }
}

// 商城訂單分頁
.mOrder_data {
    // display: flex;
    // flex-direction: column;
    margin-bottom: 40px;


    article {
        div {
            margin-right: auto;
            margin-top: 20px;

            h4 {
                background-color: $medium-milktea;
                border-radius: 8px;
                width: fit-content;
                padding: 5px 20px;
                margin-top: 20px;
            }
        }

        div~h2 {
            margin-left: 300px;
        }

        section {
            width: 100%;
            display: flex;
            margin-bottom: 20px;
            justify-content: space-between;

            >h2,
            h3 {
                align-self: center;
            }
        }
    }


}

@media screen and (max-width:1150px) {
    .member_sidebar {
        flex-basis: 200px;
    }



    section.userData {
        margin-left: 20px;

        div:first-child {
            margin-left: 150px;
        }


        input {
            width: 200px;
        }

        .mAddress input {
            width: 300px;
        }
    }



    // 服務 &會員訂單
    .member_main {
        .tab ul {
            // width: 400px;
            width: auto;
            margin-bottom: 20px;
        }
    }

    .sOrder_data,
    .mOrder_data {
        padding: 30px;
    }

    .sOrder_data article,
    .mOrder_data article {
        img {
            width: 60px;
            // height: 60px;
        }
    }

    .mOrder_data article {
        img {
            margin-right: 20px;
            margin-bottom: 10px;
            width: 80px;
            height: 80px;
        }

        section {
            div {
                margin-top: 10px;

                ~h2 {
                    margin-left: 40px;
                }

                ~h3 {
                    margin-left: 20px;
                }
            }
        }
    }

    .sOrder_data>div:last-child,
    .mOrder_data>div:last-child {
        flex-wrap: wrap;
        // justify-content: flex-end;

        .btn {
            // flex-basis: 40%;
        }

        p {
            // display: none;
            text-align: right;
            flex-basis: 60%;
            margin: 0;
        }

        div {
            margin-left: auto;
        }
    }

}


@media screen and (max-width:900px) {

    // -----------------萬年不動側邊欄------------------
    .member {
        flex-direction: column;
    }

    .member_sidebar {
        display: flex;
        flex-direction: column-reverse;
        // justify-content: flex-end;
        flex-basis: 0px;
        margin: 0 auto;
        margin-bottom: 0;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;

            li {
                margin: 0 10px;
            }

            a {
                width: 80px;
                font-size: $h3;
                padding-left: 0;
            }
        }

        div {
            display: none;
            // margin-left: 40px;
            margin: 0 auto;
            margin-bottom: 20px;

            h2 {
                margin-left: 60px;
            }
        }


        @for $i from 1 through 4 {
            li:nth-child(#{$i}) a::before {
                content: '';
                width: 20px;
                height: 20px;
                top: 5px;
            }
        }

        li:nth-child(4) a {
            text-align: center;
        }
    }

    // 個人資料分頁(預設)
    section.userData {
        margin-left: 0px;
        // min-width: 100%;
        width: 350px;
        margin: 0 auto;
        outline: 4px solid $dark-milktea;
        border-radius: 10px;

        >div:first-child {
            margin-left: 50px;
            margin-bottom: 10px;
        }

        // div:first-child {
        //     display: none;
        // }
    }

    section.userData {
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;



        h2 {
            font-size: $h3;
        }

        input {
            height: 30px;
        }

        @for $i from 2 through 8 {
            div:nth-child(#{$i}) {

                flex-direction: column;
                width: 300px;

                h2,
                input,
                select {
                    margin-left: 40px;
                }

                div {
                    margin-top: 10px;
                    margin-right: 60px;
                    flex-direction: row;
                    width: fit-content;
                    align-self: flex-end;
                }

            }
        }

        .mAddress input {
            width: 230px;
        }


        div.sAddress div:nth-child(2) {
            align-self: flex-start;
            width: 200px;

            select {
                flex-basis: 40%;
                margin-bottom: 10px;
                font-size: $p;
                padding: 8px 0 8px 10px;
            }

            select+input {
                width: 250px;
            }
        }
    }


    // 訂單分頁共通
    .member_main .tab ul {
        justify-content: center;
        width: 320px;
        border-bottom: none;
        border-top: 1px solid $grey;
        padding-top: 35px;
        margin: 0 auto;
    }

    .sOrder_data,
    .mOrder_data {
        width: 350px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 30px;

        h2 {
            font-size: $h3;
        }



        @for $i from 2 through 8 {
            >div:nth-child(#{$i}) {
                margin-top: 20px;
            }
        }

        @for $i from 1 through 6 {
            >div:nth-child(#{$i}) {
                // background-color: red;
                flex-direction: column;

                input {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }

        >div:nth-child(7) {
            margin-top: 40px;
        }

        >div:nth-child(8) {
            flex-direction: column-reverse;
            align-items: center;

            >div {
                align-self: flex-end;
                margin-bottom: 32px;
            }

            >p {
                margin: 0;
            }
        }

        article {
            img {
                width: 80px;
                height: 80px;
                margin-right: 30px;
                margin-bottom: 20px;

            }
        }
    }

    // 服務訂單分頁
    .sOrder_data {
        >div:nth-child(7)>div {
            flex-wrap: wrap;
            margin-top: 20px;

            >h2:first-child {
                margin-bottom: 10px;
                flex-basis: 100%;
            }
        }

        >div:nth-child(7) article>div {
            margin-top: 0px;
            margin-bottom: 20px;
            // background-color: purple;

            // h2:first-child {
            //     margin-bottom: 15px;
            // }
        }

        article {
            height: 100px;
            justify-content: flex-start;

            img {
                align-self: center;
            }

            >div {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                justify-content: space-between;

                >h2 {
                    margin-bottom: 0;
                }

                h2 {
                    align-self: flex-start;
                }

                h2:last-child {
                    font-size: $p;
                    margin: 0;
                    text-align: left;
                    line-height: 1.6;
                }
            }
        }
    }

    // 商城訂單分頁
    .mOrder_data {
        article {
            img {
                align-self: center;
            }

            section {
                flex-direction: column;

                div {
                    margin: 0;
                }

                h2:last-child,
                div~h3 {
                    margin: 0;
                    font-size: $h4;
                    align-self: flex-start;
                }

                div~h3 {
                    margin: 5px 0;
                }

            }
        }
    }







}

//----------------燈箱們(ModalMemberAll(現DefaultAll))-----------------
.member_all {
    position: relative;
    background-color: $white;
    width: 350px;
    height: 300px;
    border-radius: 8px;
    margin: 80px auto 0;
    padding: 40px;

    >section {
        // width: 300px;
        margin: 0 auto 80px;
        text-align: center;

        h2 {
            margin: 20px 0;
        }
    }

    >div {
        display: flex;
        justify-content: center;

        button {
            width: 120px;
            height: 40px;
            line-height: 20px;
        }

        button:first-child {
            margin-right: 20px;
        }
    }

    .cross_modal {
        position: absolute;
        top: 20px;
        left: 20px;
    }
}