div.mitem_wrapper {
    max-width: 100%;

    height: 650px;
}

.mitem_sec {
    margin-left: 10%;
}

div.mitem_main {
    display: flex;
    gap: 60px;

    margin-bottom: 100px;
}

div.mitem_photo {
    display: flex;
    justify-content: space-between;

    width: 565px;
    max-width: 100%;
    height: 420px;

    ul.mitem_photo_small {
        display: flex;
        flex-direction: column;
        gap: 28px;

        img {
            width: 120px;
            max-width: 100%;
            border-radius: 10px;
        }
    }

    div.mitem_photo_big {
        img {
            width: 420px;
            max-width: 100%;
            border-radius: 10px;
        }
    }
}

div.mitem_product {

    width: 350px;
    max-width: 100%;

    >h1 {
        font-weight: bold;
        margin-bottom: 24px;
    }

    >h2 {
        font-weight: bold;
        margin-left: 5px;
        margin-bottom: 31px;
    }

    >p {
        margin-bottom: 12px;
    }

    .mitem_pin {
        color: $warning;
        font-size: 16px;
        margin-right: 12px;
    }

    >h3 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    div.mitem_design {
        width: 100px;
        max-width: 100%;
        height: 30px;
        background-color: $medium-milktea;

        color: $white;

        border-radius: 8px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;
    }

    div.cal {
        margin-bottom: 41px;
    }

    div.mitem_btn {
        display: flex;
        gap: 25px;

        i.mitem_add_to_cart {
            color: $white;
        }

        .mitem_btn {
            width: 150px;
            max-width: 100%;
        }
    }
}

div.mitem_tab {
    width: 975px;
    max-width: 100%;
    margin-bottom: 25px;
}

.mitem_sec > div.tab > ul{
    margin-bottom: 0;  
    width: auto;
} 

ol.mitem_text {
    margin-left: 25px;
    list-style-type: decimal;

    li {
        margin-bottom: 10px;
    }

}


// ------------  RWD ------------

@media(max-width:1000px) {
    div.mitem_wrapper{
        width: 429px;
    }

    .mitem_sec{
        width: 380px;
        margin: 0 auto;
    }

    div.mitem_photo{
        height: 280px;
        margin-bottom: 0;
        >ul.mitem_photo_small{
            width: 80px;

            gap: 19px;
        }
        >div.mitem_photo_big{
            width: 280px;
        }
    }

    div.mitem_main{
        width: 380px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 40px;
    }

    div.mitem_tab {
        margin-bottom: 20px;
        > ul > li > a{
        width: 80px;
        }
    }
    
}


// @include m() {
//     div.mitem_wrapper{
//         width: 429px;
//     }

//     .mitem_sec{
//         width: 380px;
//         margin: 0 auto;
//     }

//     div.mitem_photo{
//         height: 280px;
//         margin-bottom: 0;
//         >ul.mitem_photo_small{
//             width: 80px;

//             gap: 19px;
//         }
//         >div.mitem_photo_big{
//             width: 280px;
//         }
//     }

//     div.mitem_main{
//         width: 380px;
//         flex-direction: column;
//         align-items: center;
//         gap: 30px;
//         margin-bottom: 40px;
//     }

//     div.mitem_tab {
//         margin-bottom: 20px;
//         > ul > li > a{
//         width: 80px;
//         }
//     }
// }