div.mPay3_wrapper{
    max-width: 100%;
}

div.mPay3_circle{
    margin: 0 auto;
    margin-bottom: 60px;
}

section.mPay3{
    display: flex;
    flex-direction: column;
    align-items: center;

    > img{
        width: 150px;
        max-width: 100%;
        height: auto;

        margin-bottom: 36px;
    }

    > h2{
        text-align: center;

        line-height: 1.6;
        margin-bottom: 50px;
    }

    div.mPay3_btn{
        display: flex;

        > .mPay3_btn{
            width: 150px;
            font-size: $h2;
        }

        :nth-child(1){
            margin-right: 40px;
        }
    }
}



// ------------------ cart ------------------------

/* -------------------------cart---------------------------------- */


// footer上的購物車小紅圈
/* 購物車數字小紅圈 */
// a.menu-icon-cart{
//     position: relative;
// }

// .menu-icon span.menu-icon-cartnumber{
//     color: white;

//     display: flex;
//     justify-content: center;
//     align-items: center;

//     width: 18px;
//     height: 18px;

//     position: absolute;
//     right: -5px;
//     top: -8px;

//     border-radius: 50%;
//     background-color: red;
// }

/* 購物車彈出頁 */
div.cart{
    position: fixed;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);

    z-index: 2;

    // 先關閉
    display: none;

}

// 購物車開關toggle
div.cart.toggle{
    display: block;
}

div.cart-menu{
    height: 100%;
    width: 700px;
    max-width: 100%;

    padding: 20px 50px;

    background-color: $white;

    overflow: auto;

    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cart-top{
        display: flex;
        justify-content: space-between;

        padding-bottom: 20px;

        border-bottom: 2px solid darkgrey;

        margin-bottom: 20px;

        > h1{
            color: $h1;
            color: $brown;
        }

        > i{
            font-size: 25px;
            color: $dark-milktea;
        }

        > i:hover{
            color: $brown;
        }

    }

    div.cart-footer{
        padding-bottom: 40px;
    }

    div.cart-menu-total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0  1rem;
        padding-bottom: 16px;

        border-bottom: 2px solid $black;

        margin-bottom: 55px;

        > span{
            font-size: $h1;
        }
    }

    button.purchase-btn{
        margin: 0 auto;
        width: 150px;
        max-width: 100%;
        height: 50px;
    }
}

/* 加入購物車的品項 */
div.product-rows{
    margin-bottom: auto;
}

div.product-row{
    display: flex;
    align-items: center;

    height: 120px;
    margin-bottom: 20px;
    padding: 10px 0;

    border-bottom: 2px dashed $dark-grey;
    > img{
        width: 120px;
        height: auto;
        border-radius: 10px;
        margin-right: 25px;
    }
}

div.product-row-inner{
    margin-right: auto;

    > h2{
        margin-bottom: 20px;
    }
    div.cart_design{
        width: 100px;
        max-width: 100%;
        height: 30px;

        background-color: $medium-milktea;
    
        color: $white;
        border-radius: 8px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin-bottom: 15px;
    }
}

div.product-row-price{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;

    min-height: 100%;

    > i.cart-item-remove-btn{
        font-size: 24px;
        color: $dark-milktea;
    }

    > i.cart-item-remove-btn:hover{
        color: $brown;
    }
}



// RWD

@media(max-width:431px){
    
    div.mPay3_circle{
        width: 340px;

        >div.circle_step{
            width: 80px;
            height: 80px;

            >h1{
                font-size: $h4;
            }
        }
    }
}