.wrapper>.plans {
  display: flex;
  margin: 0 auto;
  line-height: 1.6;

  article {
    margin-right: 42px;

    img {
      display: none;
    }

    h3 {
      margin-bottom: 32px;
    }

    p {
      margin-bottom: 12px;

    }

    .rule {
      border-radius: 10px;
      margin-top: 42px;
      margin-bottom: 63px;
      padding: 20px 30px;
      background-color: $light-milktea;

    }
  }

  .right {
    // width: 700px;

    img {
      // width: 100%;
      width: 700px;
      margin-bottom: 48px;
      margin-top: 50px;
    }

    span {
      width: 10px;
    }
  }
}

.notice {
  margin: 0 40px 0 40px;

  .tab {
    ul {
      margin: 0 auto;
    }
  }

  .text {
    margin: 40px 140px 50px 130px;

    ul {
      padding-left: 40px;
    }

    li {
      padding: 20px;
      list-style-type: decimal;
      font-size: $h3;
      line-height: 1.3;
    }
  }
}

.rank {
  width: 1000px;
  margin: 0 auto;

  li {
    flex-grow: 1;
    height: 200px;
    width: 900px;
    display: flex;
    margin: 0px auto 55px auto;

    img {
      width: 200px;
      margin-right: 40px;
    }

    article {
      padding: 44px 0px;
    }
  }
}

.star_color {
  color: $dark-milktea;
  margin-left: 5px;
}

.rank_top {
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 660px;
  position: relative;
  display: flex;
  flex-grow: 1;

  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $dark-grey ;
    width: 660px;
    height: 2px;
  }

  span {
    font-size: $h3;
    display: flex;
    align-items: center;

    // &:nth-child(2){
    //   position: relative;
    //   &:before{
    //     content: "";
    //     position: absolute;
    //     top: -80%;
    //     left: -280px;
    //     background-color: $dark-grey ;
    //     width: 2px;
    //     height: 50px;
    //   }

    // }

  }

  .right {
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    flex-basis: 550px;
  }

}

.buttom {
  flex-grow: 1;
  position: relative;

  p {
    line-height: 1.5;

    &:before {
      content: "";
      position: absolute;
      top: -80px;
      left: 160px;
      background-color: $dark-grey;
      width: 2px;
      height: 50px;
    }
  }

}





.next {
  display: block;
  text-decoration: none;
  width: 116px;
  height: 42px;
  margin: 0 auto;
  line-height: 42px;
  text-align: center;
  padding: 0;
  font-size: $h3;
}

.indent {
  margin-left: 16px;
}



// -------------------RWD-------------------

// ------------------------ width: 1200px ------------------------


@media screen and (max-width:1200px) {

  .wrapper.plan{
    width: auto;
    margin: 70px 20px 30px;
  }
  .wrapper > .planA .right{
    width: auto;
  }

}

// ------------------------ width: 1100px ------------------------


@media screen and (max-width:1100px) {

  section.planA{
    flex-direction: column;
  }

  .wrapper > .planA article{
    margin-right: 0px;
  }

  .right{
    margin: 0 auto 30px auto;
  }

  .notice .text{
    margin: 40px 100px 50px 90px;
  }

}

// ------------------------ width: 1000px ------------------------


@media screen and (max-width:1000px) {


  .notice .text{
    margin: 40px 100px 50px 90px;
  }

  .rank{
    width: auto;
    margin: 0 auto;
      ul{
        width: 600px;
        margin: 0 auto;
      }
      li{
        width: auto;
        height: 250px;
        display: flex;
        flex-direction: column;
        margin: 0px 20px 300px 20px;
        
          img{
            display: block;
            align-self: center;
            width:250px;
            margin-right: 0px;
            margin-bottom: 30px;
          }
          article{
            padding: 0px 0px;
          }
      }
  }
  
  .rank_top{
    padding-bottom: 0px;
    margin-bottom: 5px;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    &:before{
        display: none;
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $dark-grey ;
        width: 660px;
        height: 2px;
    }
      span{
        font-size: $h3;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-right: 10px;
        
        &:nth-child(2){
          position: relative;
          &:before{
  
            content: "";
            display: none;
            position: absolute;
            top: -80%;
            left: -280px;
            background-color: $dark-grey ;
            width: 2px;
            height: 50px;
          }
          
        }
         
      }
      .right{
        margin-left: 32px;
        display: flex;
        
        //justify-content: space-between;
        flex-basis: 100px;
      }
  
  }
  
  .buttom{
    flex-grow: 1;
    position: relative;
    p{
      line-height: 1.5;
      &:before{
        display: none;
        content: "";
        position: absolute;
        top: -80px;
        left: 160px;
        background-color: $dark-grey;
        width: 2px;
        height: 50px;
      }
    }
  
  }

  .tab ul{
    width: auto;
    
  }

  .wrapper > .plans{
    flex-direction: column;
  }

  .wrapper > .plans article{
    margin-right: 0;
  }

  
  
}


// ------------------------ width: 700px ------------------------

@media screen and (max-width:700px){

  .planA{
    width: auto;
  }

  .rank ul{
    width: auto;
  }

  .notice .text{
    margin: 40px 60px 50px 50px ;
  }

  .wrapper > .plans .right img{
    width: 550px;
  }

  .wrapper > .plans article .rule{
    margin: 42px auto 63px auto;
  }

}


// ------------------------ width: 550px ------------------------

@media screen and (max-width:550px){




  .rank ul{
    width: auto;
  }

  .rank{
    width: 400px;
    margin: 0 auto;
    ul{
      width: 378px;
      margin: 0 auto;
    }
      li{
        width: 360px;
        height: 250px;
        display: flex;
        flex-direction: column;
        margin: 0px auto 170px auto;
        
          img{
            display: block;
            align-self: center;
            width:120px;
            margin-right: 0px;
            margin-bottom: 5px;
          }
          article{
            padding: 0px 0px;
          }
      }
  }
  
  .rank_top{
    padding-bottom: 0px;
    margin-bottom: 5px;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &:before{
        display: none;
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $dark-grey ;
        width: 660px;
        height: 2px;
    }
      span{
        font-size: $p;
        justify-content: center;
        display: flex;
        align-items: center;
        
        &:nth-child(2){
          position: relative;
          &:before{
  
            content: "";
            display: none;
            position: absolute;
            top: -80%;
            left: -280px;
            background-color: $dark-grey ;
            width: 2px;
            height: 50px;
          }
          
        }
         
      }
      .right{
        margin-left: 0px;
        display: flex;
        
        //justify-content: space-between;
        flex-basis: 100px;
      }
  
  }
  
  .buttom{
    flex-grow: 1;
    position: relative;
    p{
      line-height: 1.5;
      &:before{
        display: none;
        content: "";
        position: absolute;
        top: -80px;
        left: 160px;
        background-color: $dark-grey;
        width: 2px;
        height: 50px;
      }
    }
  
  }

  .wrapper > .planA .right{
    margin: auto auto 40px auto;
  }

  .notice .text{
    margin: 30px 20px 50px 10px;
  }

  .tab ul li a{
    width: 90px;
    height: 40px;
    line-height: 40px;
  }

  .wrapper > .plans .right img{
    width: 400px;
  }

}

// ------------------------ width: 430px ------------------------

@media screen and (max-width:430px){

.wrapper > .planA article{
  margin-right: 0px;
}
.wrapper > .planA .right{
  width: 360px;
  margin-bottom: 26px;
}

.wrapper > .planA{
  display: flex;
  flex-direction: column;
  margin: 24px auto;
   
    article{
      margin-right: 0px;
      width: 360px;
      img{
        display: block;
        width: 360px;
        border-radius: 10px;
        margin-bottom: 24px;
      }
      .title{
        margin-bottom: 16px;
      }
      h3{          
        margin-bottom: 32px;
        font-size: $h4;
      }
      p{
        margin-bottom: 12px;
        line-height: 1.2;
      }
      .rule{
        border-radius: 10px;
        margin-top: 42px;
        padding: 20px 30px;
        background-color: $light-milktea;
        margin-bottom: 12px;

      }
    }
    .right{
      width:auto;
       img{
          display: none;
       }
    }
}

.notice{
  margin: 0 10px 0 10px;
    .tab{
        ul{
          margin: 0 auto;
          width: 350px;
           li{
              a{
                width: 80px;
                height: 40px;
              }
           }
        }
    }
    .text{
        margin: 20px 15px 50px 35px;
        ul{
          padding-left: 0px;
        }
        li{
            padding: 20px;
            list-style-type: decimal;
            font-size: $h3;
            line-height: 1.3;
        }
    }
}

.tab .tab_planA{
  border-top: 0px;
  border-bottom: 1px solid $grey;
  padding-top: 0;
}

.rank{
  width: 360px;
  margin: 0 auto;
  ul{
    width: 378px;
    margin: 0 auto;
  }
    li{
      width: 360px;
      height: 250px;
      display: flex;
      flex-direction: column;
      margin: 0px auto 170px auto;
      
        img{
          display: block;
          align-self: center;
          width:120px;
          margin-right: 0px;
          margin-bottom: 5px;
        }
        article{
          padding: 0px 0px;
        }
    }
}

.rank_top{
  padding-bottom: 0px;
  margin-bottom: 5px;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  &:before{
      display: none;
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $dark-grey ;
      width: 360px;
      height: 2px;
  }
    span{
      font-size: $p;
      justify-content: center;
      display: flex;
      align-items: center;
      
      &:nth-child(2){
        position: relative;
        &:before{

          content: "";
          display: none;
          position: absolute;
          top: -80%;
          left: -280px;
          background-color: $dark-grey ;
          width: 2px;
          height: 50px;
        }
        
      }
       
    }
    .right{
      margin-left: 0px;
      display: flex;
      
      //justify-content: space-between;
      flex-basis: 100px;
    }

}

.buttom{
  flex-grow: 1;
  position: relative;
  p{
    line-height: 1.5;
    &:before{
      display: none;
      content: "";
      position: absolute;
      top: -80px;
      left: 160px;
      background-color: $dark-grey;
      width: 2px;
      height: 50px;
    }
  }

}

.rank ul{
  width: 360px;
}

.wrapper > .plans .right img{
  width: 360px;
}

}

// ------------------------ width: 375px ------------------------

@media screen and (max-width:375px){
  .wrapper.plan{
    margin: 70px 5px 30px;
  }

  .wrapper > .plans .right img{
    width: 350px;
  }
}
