.reserve1_banner {
  background-image: url(../../img/reserve1/reserve1_banner.jpg);
}


// .reserve_one{
//     display: flex;
//     margin: 0 auto;
//     width: 1010px;
//     margin-bottom: 45px;
//       div{
//         border-radius: 50%;
//         background-color: $light-milktea;
//         width: 50px;
//         height: 50px;  
//           h2{
//             text-align: center;
//             line-height: 50px;
//             font-size: $h1;
//           }
//         }
//       h1{
//         line-height: 50px;
//         padding-left: 16px;
//         position: relative;
//         &:before{
//             content: "";
//             position: absolute;
//             width: 944px;
//             height: 10px;
//             background-color: $light-milktea;
//             top: 100%;
//             left: 15px;
//         }
//     }  
// }

.reserve_choose {
  margin: 0 auto;
  width: 1010px;
  display: flex;

  .dropdown {
    padding: 20px 50px;
    margin-bottom: 5px;
    background-color: $light-milktea;
    color: black;

    &:hover {
      color: white;
      background-color: $dark-milktea;
    }
  }

  .pic {
    width: 700px;
    height: 500px;
    margin-left: 28px;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}


.dropdown_container {
  display: none;
  text-align: left;
  background-color: $light-milktea;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid $brown;
  padding: 25px;

  section {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 20px;
  }

  section+p {
    margin-bottom: 0;
    color: $warning;
    font-weight: bold;
    font-size: $h3;
  }

}

.-on {
  display: block;
  margin-top: 10px;
}

.reserve_choose .-bgc {
  background-color: $dark-milktea;
  color: white;
}

.next {
  display: block;
  text-decoration: none;
  width: 116px;
  height: 42px;
  margin: 0 auto;
  line-height: 42px;
  text-align: center;
  padding: 0;
  font-size: $h3;
}

.reserve_choose .color {
  background-color: $dark-milktea;
  color: white;

}

@media screen and (max-width:430px) {
  .reserve1 {
    .subtitle {
      margin-bottom: 0;
    }
  }

  .reserve_choose {
    width: 380px;
    flex-direction: column-reverse;


    .pic {
      width: 380px;
      height: auto;
      margin: 16px 0;

    }

    aside {
      display: flex;
      flex-wrap: wrap;
      width: 380px;
      justify-content: space-between;
    }

    .dropdown {
      box-sizing: border-box;
      width: 120px;
      padding: 10px;
      border-radius: 10px 10px 0 0;
      font-size: $h4;
    }

    .dropdown_container {
      width: 380px;

    }

    .-on {
      display: flex;
      flex-direction: column;

      section {
        display: flex;
        flex-wrap: wrap;

        p {
          margin-right: 8px;
          width: fit-content;

        }

      }

      section+p {
        align-self: flex-end;
      }


    }
  }


}