.service_banner {
  background-image: url(../../img/service/service_banner.jpg);
}

div.service_swiper{
  display: none;
}

.service .title{
  h1{
    margin-left: 100px;
    margin-bottom: 40px;
  }
}

.service_plan{
  width: 1000px;
  height: 500px;
  background-color: $light-milktea;
  border-radius: 10px;
  display: flex;
  margin: 0 auto 44px;
    .left{
      flex-basis: 350px;
      padding: 56px 80px 56px 65px;
        img{
          width:524px;
          border-radius: 10px;
          margin-bottom: 50px;
       }
    } 
    .service_article{
      display: flex;
      flex-direction: column;
      flex-basis: 270px;
      padding: 62px 0px 56px 0;
      h2{
        font-weight: bold;
        margin-bottom: 80px;
      }
      h3{
        margin-bottom: 20px;
      }
      p{
        padding-top: 30px;
        align-self: flex-end;
        margin-bottom: 40px;
      }
      div{
        display: flex;
        justify-content: space-between;
          a{
            text-decoration: none;
            font-size: 18px;
            padding: 10px 20px;
          }
          .btn{
            margin-right: 0px;
          }
      }
   }
}



.service_icon{

    article{
      margin: 0 auto;
      display: flex;
      width: 1000px;
      height: 540px;
      border-radius: 10px;
      background-color: $light-milktea;
      padding: 20px 70px 0 40px;
      box-sizing: border-box;
      margin-bottom: 40px;
       h2{
        align-self: center;
        font-weight: bold;
        flex-basis: 200px;
       }
    }
}

.right_icon1 ul li:nth-child(2) > img{
  margin-top: 28px;
}

.right_icon1 ul li:nth-child(2) > h3{
  margin-top: 35px;
}

.right_icon1{
  display: flex;
    ul{
      display: flex;
      flex-wrap: wrap;
      margin-left: 85px;
        li{
          border: 4px solid $dark-milktea;
          flex-basis: 150px;
          border-radius: 10px;
          margin-right: 20px;
          margin-bottom: 20px;
            img{
              margin: 20px auto 20px auto;
              width: 100px;
            }
            h3{
              text-align: center;
              margin-bottom: 10px;
            }
            p{
              padding: 5px;
              text-align: left;
              &:nth-child(4){
                text-align: center;
              }
            }
        }
    }
}

.right_icon2{
  display: flex;
    ul{
      display: flex;
      flex-wrap: wrap;
      flex-basis: 600px;
      margin-left: 48px;
      //height: 230px;
        li{
          border: 4px solid $dark-milktea;
          flex-basis: 150px;
          border-radius: 10px;
          margin-right: 20px;
          margin-bottom: 20px;
            img{
              margin: 20px auto 20px auto;
              width: 100px;
            }
            h3{
              text-align: center;
              margin-bottom: 10px;
            }
            p{
              padding: 5px;
              text-align: left;
            }
        }
    }
}

.service_compare{
  margin: 0 auto 40px;
  width: 900px;
    thead{
      background-color: $light-milktea;
      border-bottom: 1px solid $grey;
      text-align: center;
      height: 80px;
      position: relative;
      &:before{
        content:"";
        background-image: url(@/img/service_king.svg);
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        height: 100px;
        width: 60px;
        top: -50%;
        left: 56%
      }
        td{
          width: 300px;
          font-size: $h2;
          line-height: 80px; 
          border-right: 1px solid $grey;
          &:last-child{
            border-right: 0px;
          }
            img{
              margin: -26px auto;
            }
        }
    }
    tbody{
      tr{
        border-bottom: 1px solid $grey;
        text-align: center;
        height: 80px;
        line-height: 80px;
        &:last-child{
          border-bottom: 0px;
        }
      }
      td{
        border-right: 1px solid $grey;
        &:last-child{
          border-right: 0px;
        }
      }
    }
}

.service_map{
  margin: 0 auto;
  width: 1000px;
  display: flex;
    img{
      display: block;
      width: 100%;
      height: 400px;
      margin-top: 20px;
      border-radius: 10px;
      border: 4px solid $dark-milktea ;
    }
    .area{
      margin-left: 36px;
        h2{
          margin-bottom: 30px;
        }
        h4{
          margin-bottom: 50px;
          line-height: 1.6;
          border-bottom: 1px solid $grey;
          padding-bottom: 10px;
        }
    }
}

.new{
  display: none;
}

.service_compare_phone{
  display: none;
}

// ----------------RWD--------------------

// ------------------------ width: 1100px ------------------------

@media screen and (max-width:1100px){

  .wrapper.service{
    width: auto;
  }

  .service_plan{
    width: 900px;
    margin: 0 auto 30px;
  }

  .service_plan .left img{
    width: 435px;
  }

  .service_icon article{
    width: 800px;
  }

  .right_icon1 ul{
    margin-left: 90px;
  }

  .service_icon article{
    padding: 20px 40px 0 20px;
  }

  .service_icon article{
    height: auto;
    width: auto;
    margin: auto 40px 30px 40px;
  }

  .service_icon article h2{
    flex-basis: 300px;
  }

  .service_map{
    width: auto;
  }

}



// ------------------------ width: 900px ------------------------

@media screen and (max-width:900px){

  .service_plan{
    width: auto;
    margin: auto 20px 30px 20px;
  }

  .service_plan .left{
    padding:56px 28px 56px 35px;
  }

  .service_compare{
    width: auto;
  }

  .service_map{
    width: auto;
    margin: auto 30px;
  }




 
  }


// ------------------------ width: 800px ------------------------

@media screen and (max-width:800px){
  
  .service_plan .left img{
    width: 350px;
  }
}


// ------------------------ width: 700px ------------------------

@media screen and (max-width:700px){
  
  .service_map img{
    width: 55%;
  }

  .service_plan{
    flex-direction: column;
  }

  .service_plan .service_article{
    flex-direction: column;
  }

  .service_plan .left{
    margin: 0 auto;
  }

  .service_plan .left img{
    margin: auto auto 10px auto;
  }

  .service_plan .service_article h3{
    display: none;
  }

  .service_plan .left{
    padding: 56px 28px 0px 35px;
  }

  .service_plan .service_article {

    width: 300px;
    margin: 0 auto;
  }

  .service_plan .service_article p{
    padding-top: 0px;
    margin-bottom: 10px;
  }

  .service_plan .service_article h2{
    margin-bottom: 16px;
  }

  .service_icon article h2{
    flex-basis: 500px;
  }

  .right_icon1 ul{
    margin-left: -1px;
  }

  .right_icon2 ul{
    margin-left: -1px;
  }

  .service_compare_phone{
    width: 405px;
    overflow-x: auto;
    margin: 0 auto;
    .phone{
      width: 1000px;
      tbody{
        tr{
          border-bottom: 1px solid $grey;
          &:last-child{
            border-bottom: 0px;
          }
            td{
              text-align: center;
              vertical-align: middle;
              padding: 30px 5px;
              border-right: 1px solid $grey;
              width: 50px;
                img{
                  width: 50px;
                  display: block;
                  margin: 0 auto;
                }
            }
            .king{
              position: relative;
              div{
              &:before{
              content:"";
              background-image: url(@/img/service_king.svg);
              display: block;
              position: absolute;
              background-repeat: no-repeat;
              background-position: center;
              height: 40px;
              width: 40px;
              top: 0px;
              background-size: cover;
              left: 88px;
              }
              }
            }
          }
        }
        
        
    
    }
  }
  
  .phone tbody tr > td:nth-child(1){
    background-color: $light-milktea;
  }
  
  .service_map img{
    width: 100%;
    margin-bottom: 30px;
  }
  
  .service_map{
    margin: auto 20px;
    flex-direction: column;
  }
  
  .service_compare{
    display: none;
  }
  
  .service_compare_phone{
    display: block;
  }
  
  
  
  :root{
    --swiper-navigation-size: 24px !important;
  }
  
  .swiper-pagination{
    display: none;
  }
  }
  
  .service_compare_phone{
    width: auto;
  }




 




// ------------------------ width: 430px ------------------------

@media screen and (max-width:430px){

  .wrapper.service {
    width:370px;
  }

  div.service_swiper{
    display: block;
  }



  .title_phone{
    margin-bottom: 15px;
  }

  .title_phone > h1::before{
    width: 30px;
    height: 21.63px;
    background-size: contain;
  }


  .service .title_phone{
    h1{
      font-size: $h2;
      margin-left: 20px;
      margin-bottom: 10px;
    }
  }

  
  .service_plan{
    width: 380px;
    height: 600px;
    background-color: $light-milktea;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 44px;
      .left{
        flex-basis: 200px;
        padding: 20px;
          img{
            width:342px;
            border-radius: 10px;
            margin-bottom: 10px;
          }
          p{
            display: none;
          }
      } 
      article{
        display: flex;
        flex-direction: column;
        flex-basis: 100px;
        padding: 0px 56px;
        h2{
          font-weight: bold;
          margin-bottom: 30px;
        }
        h3{
          margin-bottom: 20px;
        }
        p{
          padding-top: 0px;
          align-self: flex-end;
          margin-bottom: 15px;
        }
        .new{
          display: block;
          margin-bottom: 15px;
        }
        div{
          display: flex;
          justify-content: space-between;
            a{
              text-decoration: none;
              font-size: 18px;
              padding: 10px 20px;
            }
        }
     }
    
  }

  section.service_phone{
    display: none;
  }

 .service .title h1{
  margin-left: 0px;
 }

 .service_icon{

  article{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: $white;
    padding: 0px;
    margin-bottom: 40px;
     h2{
      align-self: center;
      font-weight: bold;
      flex-basis: 0px;
      margin-bottom: 16px;
     }
  }
}

.right_icon1 ul li:nth-child(2) > img{
margin-top: 28px;
}

.right_icon1 ul li:nth-child(2) > h3{
margin-top: 35px;
}

.right_icon1{
display: flex;
  ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 24px;
    justify-content: space-between;
      li{
        border: 4px solid $dark-milktea;
        flex-basis: 146px;
        border-radius: 10px;
        margin-right: 0px;
        margin-bottom: 20px;
        background-color: $light-milktea;
          img{
            margin: 20px auto 20px auto;
            width: 100px;
          }
          h3{
            text-align: center;
            margin-bottom: 10px;
          }
          p{
            padding: 5px;
            text-align: left;
            &:nth-child(4){
              text-align: center;
            }
          }
      }
  }
}

.right_icon2{
display: flex;
  ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 24px;
    justify-content: space-between;
    //height: 230px;
      li{
        border: 4px solid $dark-milktea;
        flex-basis: 146px;
        border-radius: 10px;
        margin-right: 0px;
        margin-bottom: 20px;
        background-color: $light-milktea;
          img{
            margin: 20px auto 20px auto;
            width: 100px;
          }
          h3{
            text-align: center;
            margin-bottom: 10px;
          }
          p{
            padding: 5px;
            text-align: left;
          }
      }
  }
}


.service_compare_phone{
  width: 365px;
  overflow-x: auto;
  margin: 0 auto;
  .phone{
    width: 1000px;
    tbody{
      tr{
        border-bottom: 1px solid $grey;
        &:last-child{
          border-bottom: 0px;
        }
          td{
            text-align: center;
            vertical-align: middle;
            padding: 30px 5px;
            border-right: 1px solid $grey;
            width: 50px;
              img{
                width: 50px;
                display: block;
                margin: 0 auto;
              }
          }
          .king{
            position: relative;
            div{
            &:before{
            content:"";
            background-image: url(@/img/service_king.svg);
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            height: 40px;
            width: 40px;
            top: 0px;
            background-size: cover;
            left: 88px;
            }
            }
          }
        }
      }
      
      
  
  }
}

.phone tbody tr > td:nth-child(1){
  background-color: $light-milktea;
}



.service_map{
  width: 330px;
  display: flex;
  flex-direction: column;
    img{
      display: block;
      width: 100%;
      height: 240px;
      padding-top: 0px;
      border-radius: 10px;
      margin-bottom: 42px;
      border: 4px solid $dark-milktea ;
    }
    .area{
      margin-left: 0px;
        h2{
          margin-bottom: 30px;
        }
        h4{
          margin-bottom: 50px;
          line-height: 1.6;
          border-bottom: 1px solid $grey;
          padding-bottom: 10px;
        }
    }


  }

.service_compare{
  display: none;
}

.service_compare_phone{
  display: block;
}



:root{
  --swiper-navigation-size: 24px !important;
}

.swiper-pagination{
  display: none;
}
}