header.sPay3__banner{
    background-image: url(../../img/mall/mall_banner.jpg);
}



div.sPay3_wrapper{
    max-width: 100%;
    // border: 1px solid blue;
}

div.sPay3_circle{
    margin: 0 auto;
    margin-bottom: 60px;
}

section.sPay3{
    display: flex;
    flex-direction: column;
    align-items: center;

    > img{
        width: 150px;
        max-width: 100%;
        height: auto;

        margin-bottom: 36px;
    }

    > h2{
        text-align: center;

        line-height: 1.6;
        margin-bottom: 50px;
    }

    div.sPay3_btn{
        display: flex;

        > .sPay3_btn{
            width: 150px;
            font-size: $h2;
        }

        :nth-child(1){
            margin-right: 40px;
        }
    }
}

// RWD

@media(max-width:431px){
    div.sPay3_circle{
        width: 340px;

        >div.circle_step{
            width: 80px;
            height: 80px;

            >h1{
                font-size: $h4;
            }
        }
    }
}