.welcome_wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/welcome/welcome_bgi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .welcome_back {
        position: absolute;
        top: 50px;
        right: 32%;

        img {
            width: 200px;
        }
    }

    .welcome_front {
        width: 50px;
        position: absolute;
        bottom: 50px;
        left: 26%;

        img {
            width: 200px;
        }
    }
}