.btn{

    display:block;
    font-family: $fontFamily;
    padding: 10px;
    border-radius: 8px;
    background-color: $dark-milktea;
    color: $white;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: $brown;
    }

}