.cal {
    width: 215px;
    max-width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: $light-milktea;
    padding: 0 5px;
    box-sizing: border-box;
    .cal_btn {
        font-size: 30px;
        color: $brown;
        cursor: pointer;
    }
    .cal_count {
        font-size: $h3;
    }
}