// class="tab"
.tab ul {
    display: flex;
    border-bottom: 1px solid $grey;
    padding-bottom: 5px;

    li {
        margin-right: 20px;
        background-color: $light-milktea;
        border-radius: 10px 10px 0px 0px;

        a {
            line-height: 40px;
            width: 120px;
            height: 40px;
            text-align: center;
            display: block;
            text-decoration: none;
            color: $black;
        }


    }

    // active狀態的tab加上此class

    li.tab_on {
        background-color: $dark-milktea;

        a {
            color: $white;

        }
    }

}