$h1 : 32px;
$h2 : 20px;
$h3 : 18px;
$h4 : 16px;
$p : 14px;

body {
    font-family: 'Inter';
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

$fontFamily: 'Inter';