<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="title">
        <h1>聯絡表單</h1>
    </div>
    <p>有相關問題可填寫以下表單，浣安將於3個工作天內回覆，若您一直未收到回覆，歡迎來電詢問，謝謝！</p>
    
    <form @submit.prevent="submitForm">
        <div class="contact_input">
            <label for="name">姓名/單位</label>
            <input v-model="formData.name" type="text" id="name" name="name">
        </div>
        <div class="contact_input">
            <label for="phone">手機號碼</label>
            <input v-model="formData.phone" type="tel" id="phone" name="phone">
        </div>
        <div class="contact_input">
            <label for="email">電子信箱</label>
            <input v-model="formData.email" type="email" id="email" name="email">
        </div>
        <div class="contact_input ">
            <label for="message" class="message">問題描述</label>
            <textarea v-model="formData.message" id="message" name="message"></textarea>
        </div>
        <button type="submit" class="btn">送出</button>
    </form>


</body>
<script setup>
    const formData = {
    name: '',
    phone: '',
    email: '',
    message: ''
    };

    const submitForm = () => {
        const url = '../../public/wanann.php';
        
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        }).then(response => {
            console.log('註冊成功');
        }).catch(error => {
            console.error('Error:', error);
        });
    };

</script>
</html>