.contact_wrapper {
    width: 100%;
}

.contact__banner {
    background-image: url(../../img/contact/contact_banner.jpg);
}

.contact_wrapper h1 {
    text-align: center;

}

.contact_wrapper h1::before {
    content: "";
    display: inline-block;
    background-image: url(../../img/contact/contact_logo.png);
    width: 46px;
    height: 32.44px;
    background-size: contain;
    margin-right: 10px;
    vertical-align: top;
}

.contact_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;

}

.contact_container.left,
.contact_container.right {
    width: 50%;

}

.left .contact_social li {
    margin-bottom: 56px;
    display: flex;
    align-items: center;

}

.contact_social li img {
    margin-right: 10px;
    width: 55px;
    height: 55px;
}

.contact_phone {
    display: flex;
    flex-direction: column;

}

.contact_social p {
    line-height: 1.2;

}



.right .contact_social li {
    display: flex;
    align-items: center;
    margin-bottom: 56px;

}

//form表單
.contact_form {
    max-width: 1200px;
    width: 60%;
    margin: 0px auto;
    padding: 20px;
    background-color: #ECE7E1;
    border-radius: 10px;
    margin-bottom: 50px;

}

.contact_form form {
    width: 60%;
    margin: 0 auto;
}

.contact_form h1 {

    margin-bottom: 30px;
}

.contact_form h1::before {
    content: "";
    display: inline-block;
    background-image: url(../../img/contact/contact_logo.png);
    width: 46px;
    height: 32.44px;
    background-size: contain;
    margin-right: 10px;
    vertical-align: top;
}

.contact_input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact_input label {
    margin-right: 10px;
    width: 20%;
}



.contact_form p {
    margin-bottom: 10px;
    text-align: center;
}

.contact_form form input {
    width: 470px;
    height: 42px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: white;
}



.contact_form form textarea {
    margin-bottom: 30px;
    margin-top: 20px;
    width: 470px;
    height: 270px;
}




input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    /* 保持元素的内边距和边框在元素的总宽度中 */
}



.btn {

    display: block;
    margin: 0 auto;
}

.btn:hover {
    background-color: #9B7B6C;
}