.btn {
    text-decoration: none;
    display: block;
    font-family: $fontFamily;
    font-size: $h3;
    padding: 10px;
    border-radius: 8px;
    background-color: $dark-milktea;
    color: $white;
    border: none;
    cursor: pointer;
    transition: background-color .6s ease;

    &:hover {
        background-color: $brown;
        color: $white;
    }

}

.btn.disabled {
    background-color: rgba(0, 0, 0, .8);
    color: white;
}