.btt {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    padding: 4px;
    cursor: pointer;
    z-index: 70;
    position: fixed;
    bottom: 5%;
    right: 12px;
    background-color: $dark-milktea;
    color: $white;

    &:hover {
        background-color: $brown;
    }
}