input {
    background-color: $light-milktea;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    height: 40px;
    font-size: $p;
    padding-left: 10px;

    &:focus {
        outline: 2px solid $brown;
    }


}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background: url(@/img/member/selectArrow.svg) no-repeat right center;
    background-position-x: 90%;
    width: 120px;
    padding: 10px;
    height: 40px;
    line-height: 20px;
    border-radius: 8px;
    background-color: $light-milktea ;
    font-size: $h4;
    margin-right: 15px;

    &:focus {
        outline: 2px solid $brown;
    }
}

.alert_input {
    background-color: $white;
    background-image: url(@/img/member/member_icon_alertInput.svg);
    background-repeat: no-repeat;
    background-position: 95% 40%;
    outline: 2px solid $brown;
}

.userData .sAddress select.alert_input {
    outline: 2px solid $warning;
    background-color: $white;
}

.alert_inputWeye {
    background-color: $white;
    background-image: url(@/img/member/member_icon_alertInput.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    outline: 2px solid $brown;
}