.robot {
    position: fixed;
    width: 105px;
    height: 91px;
    right: 0;
    bottom: 0;
    z-index: 25;
    text-align: center;
}

.bot img {
    width: 100px;
    position: absolute;
    right: 44px;
    bottom: 20px;
    cursor: pointer;
}

.robot .talk {
    position: absolute;
    height: 340px;
    width: 300px;
    right: 40px;
    bottom: 84px;
    border: 1.5px solid $dark-milktea;
    background-color: $white;
    border-radius: 12px 12px 0px 12px;
    overflow: hidden;
    // z-index: 70;
    transform: scale(0);
    transition: .5s;
    transform-origin: bottom right;
}

.robot .talk .robot_layout_top {
    display: flex;
    text-align: center;
    height: 30px;
    background-color: $dark-milktea;
    line-height: 30px;
    color: $white;
    justify-content: center;

    img {
        width: 22px;
        vertical-align: middle;
    }

    p {
        padding-left: 4px;
    }
}

.robot .talk .cross_modal {
    display: none;
}

.robot .talk .info {
    height: 275px;
    padding: 5px 15px;
    overflow-y: scroll;
}

.robot .talk .info::-webkit-scrollbar {
    width: 7px;
}

.robot .talk .info::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $white;
    border-radius: 4px;
}

.robot .talk .info::-webkit-scrollbar-track {
    background: $white;
    border-radius: 4px;
}

.robot .talk .info::-webkit-scrollbar-thumb {
    background: $medium-milktea;
    border-radius: 4px;
}

.robot .talk input {
    width: 95%;
    border: none;
    border-top: 1px solid $brown;
    padding: 15px 8px;
    caret-color: $light-milktea;
    font-size: $p;
    outline: none;
    background-color: transparent;
    height: 20px;
    border-radius: 0;
}

.robot .talk input:focus {
    outline: none;
}

.robot .talk .fa-paper-plane {
    color: $dark-milktea;
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 20px;
    padding-bottom: 2px;
    cursor: pointer;

    &:hover {
        color: $brown;
    }
}

.robot .talk .info .chattime {
    margin: 3px;
    color: $dark-grey;
    vertical-align: bottom;
    font-size: 10px;
}

.robot .talk .info .auto {
    margin-top: 10px;
    text-align: start;
}

.robot .talk .info .auto p {
    display: inline-block;
    background-color: $brown;
    color: $white;
    font-size: $p;
    line-height: 1.6;
    border-radius: 10px 10px 10px 0px;
    padding: 5px 10px;
}

.robot .talk .info .cust {
    text-align: end;
    margin-top: 10px;
}

.robot .talk .info .cust p {
    display: inline-block;
    border: 2px solid $medium-milktea ;
    font-size: $p;
    line-height: 1.5rem;
    border-radius: 10px 10px 0px 10px;
    padding: 5px 10px;
}

.robot.tap .talk {
    transform: scale(1);
}

.robot.tap .bot img:nth-child(2) {
    opacity: 0;
}

.robot .talk .fa-rectangle-xmark {
    display: none;
}



@media screen and (max-width:490px) {
    .robot .talk {
        // position: fixed;
        // right: 0;
        // top: 0;
        // height: 400px;
        // width: 100vw;
        // z-index: 99;
        // border-radius: 0;
        bottom: 56px;

    }

    // .robot .talk .cross_modal {
    //     display: inline-block;
    //     position: absolute;
    //     width: 24px;
    //     top: 2px;
    //     right: 10px;
    // }

    // .robot .talk .info {
    //     height: 77vh;
    // }

    // .robot .talk .fa-paper-plane {
    //     right: 20px;
    //     bottom: 2%;
    //     font-size: 24px;
    //     z-index: 100;
    // }

    .bot img {
        right: 48px;
        bottom: 14px;
        width: 60px;
    }
}