.title {
    margin-bottom: 40px;

    >h1 {
        display: flex;
        font-size: $h1;
        align-items: center;
    }

    >h1::before {
        content: '';
        display: block;
        width: 45px;
        height: 32.44px;
        background-image: url(@/img/logo_title.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-right: 8px;
    }


    @include m() {

        >h1 {
            display: flex;
            font-size: $h2;
        }

        >h1::before {
            content: '';
            display: block;
            width: 30px;
            height: 21.63px;
            background-image: url(@/img/logo_title.svg);
            background-size: cover;
            margin-right: 8px;
        }

    }

}

// 燈箱title
.modal_title {
    margin-bottom: 20px;

    >h1 {
        display: flex;
    }

    >h1::before {
        content: '';
        display: block;
        width: 45px;
        height: 32.44px;
        background-image: url(@/img/logo_title.svg);
        background-position: center center;
        background-size: contain;
        margin-right: 8px;
    }
}