footer {
    background-color: $light-milktea;

    ul {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        @include footer_r() {
            flex-direction: column;
            position: relative;
        }

        @include index_r() {
            flex-direction: column;
            position: relative;
        }

        h4 {
            font-size: $h4;
            font-weight: bold;
            color: $brown;
            margin-bottom: 12px;

            @include footer_r() {
                margin-bottom: 8px;

            }
        }

        p {
            padding: 4px 0;
        }

        .footer_customer_service {
            padding-top: 44px;
            margin-left: 80px;
            margin-right: 40px;

            @include footer_r() {
                margin-left: 30%;
                padding-top: 24px;

            }

            @include footer_r2() {
                margin-left: 20%;
            }

            @include index_r() {
                margin-left: 30px;
            }
        }


        .footer_area {
            padding-top: 44px;
            margin: 0 28px;

            @include footer_r() {
                margin-left: 30%;
                padding-top: 24px;
            }

            @include footer_r2() {
                margin-left: 20%;
            }

            @include index_r() {
                margin-left: 30px;
            }

            .btn {
                margin-top: 12px;
                font-size: $h4;
                background-color: $brown;
                padding: 8px 10px;

                &:hover {
                    background-color: $dark-milktea;
                    color: $white;
                }

                @include footer_r() {
                    position: absolute;
                    top: 40px;
                    left: 30%;
                }

                @include footer_r2() {
                    left: 20%;
                }

                @include index_r() {
                    font-size: $p;
                    left: 30px;
                    padding: 8px;
                    width: 100px;
                }

                img {
                    display: inline;
                    width: 20px;
                    padding-right: 4px;
                    vertical-align: sub;
                }
            }
        }

        .footer_logo {
            padding-top: 36px;
            margin: 0 20px;

            @include footer_r() {
                margin: 0 auto;
                order: -1;
            }

            img {
                width: 110px;

                @include footer_r() {
                    width: 70px;
                    margin-left: 10px;
                }
            }
        }

        .footer_contact {
            padding-top: 44px;
            margin-left: 36px;
            margin-right: 10px;

            @include footer_r() {
                margin-left: 30%;
                padding-top: 24px;
            }

            @include footer_r2() {
                margin-left: 20%;
            }

            @include index_r() {
                margin-left: 30px;

            }
        }

        .footer_social_media {
            padding-top: 32px;
            display: flex;
            margin-left: 20px;

            @include footer_r() {
                order: -1;
                position: absolute;
                right: 30%;
                top: 16px;
            }

            @include footer_r2() {
                right: 20%;
            }

            @include index_r() {
                right: 5%;
                top: 24px;
            }

            a {
                padding: 8px;

                @include index_r() {
                    padding: 0;
                    padding-right: 20px;
                }

                &:hover {
                    color: $dark-milktea;
                }

                img {
                    transition: transform .3s ease;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }

        }
    }

    .footer_rights_reserved {
        margin: 0 auto;
        margin-top: 40px;

        @include footer_r() {
            margin-top: 32px;
        }

        @include index_r() {
            margin-top: 32px;
        }

        p {
            text-align: center;
            font-size: 12px;
            padding: 4px 20px;

            @include footer_r() {
                font-size: 10px;
            }

            @include index_r() {
                font-size: 10px;
            }

        }

        .privacy {
            color: $black;

            &:hover {
                color: $brown;
            }
        }
    }
}