header {
    width: 100%;
    height: 300px;
    background-image: url(@/img/contact/contact_banner.jpg);
    background-size: cover;
    transition: height .7s ease;
    position: relative;

    @include m() {
        height: 150px;
    }

    .header_text {
        position: absolute;
        left: 45px;
        bottom: 28px;

        @include m() {
            left: 16px;
            bottom: 16px;
        }

        h1 {
            font-size: $h1;
            font-family: $fontFamily;
            font-weight: bold;
            text-shadow: 0px 0px 5px $white;
        }

        h1:first-child {
            @include m() {
                font-size: $h2;
            }
        }

        h1:last-child {
            @include m() {
                font-size: $h4;
            }
        }

    }

    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;

        .nav_left {
            display: flex;
            margin-left: 45px;

            @include m() {
                margin-left: 25px;
            }

            img {
                width: 150px;

                @include m() {
                    width: 100px;
                }
            }

            h4 {
                margin-left: 28px;
                align-self: center;
                font-family: $fontFamily;
                font-weight: bold;

                @include m() {
                    margin-left: 12px;
                    font-size: $p;
                }
            }
        }

        .nav_right {
            display: flex;

            @include m() {
                display: none;
            }

            ul {
                display: flex;

                li {
                    position: relative;
                    line-height: 35px;
                    align-self: center;

                    &:hover ol {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    a {
                        box-sizing: border-box;
                        padding: 0 15px;
                        text-decoration: none;
                        color: $black;
                        font-family: $fontFamily;
                        font-weight: bold;
                        display: block;
                        text-shadow: 0px 0px 5px $white;

                        &:hover {
                            color: $brown;
                            text-shadow: 0px 0px 3px $white;
                        }
                    }

                    ol {
                        width: 100%;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        display: none;


                        li {
                            // width: 100%;
                            text-align: center;

                            a {
                                width: 90px;
                                display: block;
                                padding: 0 12px;
                                color: $white;
                                background-color: $dark-milktea;
                                border-bottom: 1px solid $white;
                                font-weight: normal;
                                text-shadow: none;

                                &:hover {
                                    color: $white;
                                    background-color: $brown;
                                    text-shadow: none;
                                }
                            }

                            .nav_last_a {
                                border-radius: 0 0 10px 10px;
                                border-bottom: none;
                            }
                        }
                    }

                }
            }

            .nav_user {
                align-self: center;
                margin-left: 20px;
                margin-right: 45px;

                .fai {
                    padding: 10px;
                    color: $black;
                    text-shadow: 0px 0px 5px $white;

                    &:hover {
                        color: $brown;
                        text-shadow: 0px 0px 3px $white;
                    }
                }
            }
        }

        .hamburger {
            display: none;

            @include m() {
                display: block;
                margin-right: 25px;
            }

            .bar {
                display: block;
                background-color: $brown;
                width: 25px;
                height: 2px;
                margin: 5px auto;
                transition: all 0.3s ease-in-out;

            }


        }

    }
}