header.fixed {
    height: 90px;
    background-image: url(@/img/nav_bgi.png) !important; //通用不用換圖
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    @include m() {
        height: 60px;
        background-image: url(@/img/nav_bgi_m.png);
    }

    .header_center {
        display: none;
    }

    .header_text {
        display: none;
    }
}