header.fixed {
    height: 90px;
    background-image: url(../img/nav_bgi.png); //通用不用換圖
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    @include m() {
        height: 60px;
        background-image: url(../img/nav_bgi_m.png);
    }

    .wrapper {
        margin-top: 280px;
    }

    .header_center {
        display: none;
    }
}