.reserve header {
  margin-bottom: 80px;
}

.reserve footer {
  margin-top: 80px;
}

// ------------------------------
.reserve_choose {
  margin: 0 auto;
  width: 1010px;
  display: flex;

  .dropdown {
    padding: 20px 50px;
    margin-bottom: 5px;
    background-color: $light-milktea;
    color: black;

    &:hover {
      color: white;
      background-color: $dark-milktea;
    }
  }

  .pic {
    width: 700px;
    height: 500px;
    margin-left: 28px;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}


.dropdown_container {
  display: none;
  text-align: left;
  background-color: $light-milktea;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid $brown;
  padding: 25px;

  section {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 20px;
  }

  section+p {
    margin-bottom: 0;
    color: $warning;
    font-weight: bold;
    font-size: $h3;
  }

}

.-on {
  display: block;
  margin-top: 10px;
}

.reserve_choose .-bgc {
  background-color: $dark-milktea;
  color: white;
}

.reserve_choose .color {
  background-color: $dark-milktea;
  color: white;
}

//-----------reserve 三頁面共通class-------------
section.next_btn a {
  width: 120px;
  height: 40px;
  padding: 0;
  margin: 0 auto;
  line-height: 40px;
  text-align: center;
  font-size: $h3;
}

.subtitle {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;

  h1:first-child {
    background-color: $light_milktea;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
  }

  h1:last-child {
    flex-grow: 1;
    border-bottom: 10px solid $light_milktea;
  }
}

@include m() {
  .subtitle {
    width: 380px;

    h1 {
      font-size: $h2;
    }

    h1:first-child {
      line-height: 30px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}


@media screen and (max-width:430px) {
  .reserve1 {
    .subtitle {
      margin-bottom: 0;
    }
  }

  .reserve_choose {
    width: 380px;
    flex-direction: column-reverse;


    .pic {
      width: 380px;
      height: auto;
      margin: 16px 0;

    }

    aside {
      display: flex;
      flex-wrap: wrap;
      width: 380px;
      justify-content: space-between;
    }

    .dropdown {
      box-sizing: border-box;
      width: 120px;
      padding: 10px;
      border-radius: 10px 10px 0 0;
      font-size: $h4;
    }

    .dropdown_container {
      width: 380px;

    }

    .-on {
      display: flex;
      flex-direction: column;

      section {
        display: flex;
        flex-wrap: wrap;

        p {
          margin-right: 8px;
          width: fit-content;

        }

      }

      section+p {
        align-self: flex-end;
      }


    }
  }


}