.reserve_add {
  margin: 41px auto;
  margin: 0 auto;
  width: 1010px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;

  .left,
  .right {
    width: 490px;
    background-color: $light-milktea;
    border-radius: 10px;
    padding: 18px 20px 20px;
    margin-left: 10px;

    .top {
      margin: 0 auto;
      background-color: $white;
      width: 400px;
      height: 90px;
      margin-bottom: 30px;
      text-align: center;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h2 {
        font-weight: bold;
      }
    }

    .checkbox_bar {


      input {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 15px;
        cursor: pointer;
      }

      label {
        font-size: $h3;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }

  .left {

    .checkbox_bar {
      width: 300px;
      margin: 0 auto 40px;

      display: flex;
      justify-content: space-between;

      p {
        line-height: 1.6;
        align-self: center;
      }
    }



  }

  .right {

    .checkbox_bar {
      width: 320px;
      margin: 0 auto 30px;

      //justify-content: space-between;
      p {
        padding-left: 45px;
        padding-top: 10px;
        line-height: 1.6;
      }
    }

  }
}

.service_checkbox {
  accent-color: $white;
  outline: none;
  border: $dark-milktea;
}

@media screen and (max-width:1010px) {
  .reserve2 {
    .subtitle {
      margin-bottom: 0;
    }

    .reserve_add {
      width: 450px;
      flex-direction: column;

      h2 {
        font-size: $h3;
      }


      .left,
      .right {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        margin-top: 25px;
        padding: 20px 10px;

        .checkbox_bar {
          margin-bottom: 20px;

          label {
            font-size: $h4;
          }
        }

        .top {
          width: 300px;
          height: 60px;
          margin: 0 auto;
          margin-bottom: 20px;
        }
      }


      .right {
        .checkbox_bar {
          width: 300px;
        }
      }
    }
  }
}

@media screen and (max-width:500px) {
  .reserve2 .reserve_add {
    width: 350px;
  }

}