<!-- 請與pageDefault.js合用 -->

<!-- 機器人 -->
<div class="robot">
    <div class="robot_layout">
        <div class="robot_layout_top">
            <img src="/img/logo_title.svg" alt="logo">
            <h4>浣安小助手</h4>
        </div>
        <div class="robot_layout_bottom">
            <input type="text" placeholder="請輸入關鍵字...">
            <button><i class="fa-solid fa-paper-plane"></i></button>
        </div>
    </div>
    <img class="robot_logo" src="/img/robot.svg" alt="robot">
</div>

<!-- 回到頁首 -->
<i class="fa fa-angle-up" aria-hidden="true" onclick="scrollToTop()"></i>