<header>
    <nav>
        <div class="nav_left">
            <a href="index.html"><img src="img/logo_long.svg" alt="logo"></a>
            <h4>最安心的居家清潔服務</h4>
        </div>
        <div class="nav_right">
            <i class="fa fa-bars" area-hidden="true"></i>
            <i class="fa fa-solid fa-xmark" area-hidden="true"></i>
            <ul>
                <li><a href="#">關於我們</a></li>
                <li><a href="#">最新消息</a>
                    <ol>
                        <li><a href="#">優惠活動</a></li>
                        <li><a href="#" class="nav_last_a">專欄文章</a></li>
                    </ol>
                </li>

                <li><a href="#">我們的服務</a>
                    <ol>
                        <li><a href="#">服務介紹</a></li>
                        <li><a href="#">案例分享</a></li>
                        <li><a href="#" class="nav_last_a">預約服務</a></li>
                    </ol>
                </li>
                <li><a href="#">商城</a></li>
                <li><a href="#">聯絡我們</a></li>
            </ul>
            <div class="nav_user">
                <a href="#"><i class="fa-solid fa-user"></i></a>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </nav>

    <div class="header_text">
        <!-- 請換成你的頁面名稱 -->
        <h1>活動專區</h1>
        <h1>Activity</h1>
    </div>
</header>